@charset "utf-8";
@import "./common.css";

#go_back_button {
    display: inline-block;
    font-size: 20px;
    color: var(--light-color);
    text-align: center;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background-color: var(--main-shadow-transparent);
    border-radius: 35%;
    user-select: none;
}
#go_back_button:hover {
    background-color: var(--main-shadow);
}
#go_back_button img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
}

#reservation {
    position: relative;
    display: inline-block;
    min-width: 800px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 3%);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 20%);
    height: 100%;
}

#tables h1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 22px;
}

#tables table {
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    border-collapse: collapse;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 15%);
}

    #tables #active tr:first-child {
        background-color: var(--main-color-transparent);
    }
    #tables #cancelled tr:first-child {
        background-color: var(--warning-color);
    }
    #tables tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, 3%);
    }
    #tables tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 5%);
    }
    #tables #active tr:last-child {
        font-weight: bold;
    }

    #tables .name {
        min-width: 300px;
        max-width: 300px;
        padding: 0;
    }
    #tables .restaurant {
        min-width: 200px;
        max-width: 200px;
        padding: 0;
    }

    #tables table td {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    #tables .quantity, .sum, .price {
        text-align: right;
    }

    #tables .checkbox_td {
        padding: 7px;
    }

.checkbox {
    position: relative;
    top: -11px;
    left: -4px;
    margin: 0px;
}
.checkbox span {
    background-color: rgba(20, 20, 0, 10%);
    border: 2px solid rgba(20, 20, 0, 10%);
}
.checkbox input:hover~ span {
    background-color: var(--warning-color);
}
.checkbox input:checked ~ span {
    background-color: var(--text-color);
    border: 2px solid var(--text-color);
}

#user_section {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 5px;
}

    #user_section p {
        margin: 0;
    }
    #name, #contact, #reservation_id {
        font-size: 24px;
        margin: 0;
        margin-bottom: 20px;
    }

    #name_div, #contact_div {
        width: 30%;
        display: inline-block;
    }
    #reservation_id_div {
        width: 15%;
        display: inline-block;
    }
 
#fulfill_button {
    position: absolute;
    bottom: 75px;
    right: 20px;
    width: 20%;
    height: 55px;
    font-size: 20px;
    border-radius: 2px;
    background-color: rgba(0, 10, 0, 10%);
    color: rgba(0, 0, 0, 60%);
}
#fulfill_button:hover {
    background-color: var(--main-color-transparent) !important;
    color: rgba(0, 0, 0, 80%) !important;
}

#fulfill_button ~ span {
    display: block;
    height: 65px;
}

#cancel_button {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 20%;
    height: 55px;
    font-size: 20px;
    border-radius: 2px;
    background-color: rgba(10, 0, 0, 10%);
    color: rgba(0, 0, 0, 60%);
}
#cancel_button:hover {
    background-color: var(--warning-color) !important;
    color: rgba(0, 0, 0, 80%) !important;
}

.fulfilled {
    background-color: var(--main-color-transparent) !important;
}